<table class="highlight">
        <thead>
          <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Rating</th>
              <th>Category</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          {{#each books}}
          <tr>
            <td>{{this.dataValues.title}}</td>
            <td>{{this.dataValues.author}}</td>
            <td>{{this.dataValues.user_rating}}</td>
            <td>{{this.dataValues.category}}</td>
            <td> <a class="waves-effect waves-cyan btn btn-flat">Delete</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
