{{!-- <table class="highlight">
        <thead>
          <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Rating</th>
              <th>Status</th>
              <th>Category</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>10/10</td>
            <td>$0.87</td>
            <td>$0.87</td>
          </tr>
        </tbody>
      </table> --}}

<ul>
  potato
  {{#each books}}
  <div>{{this.dataValues.title}}</div>
  {{/each}}
</ul>