html,
body {
  height: 100%;
  width: screen;
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
  /* overflow: hidden; */
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* max-width: screen !important; */
}
.title-box {
  margin: 30px;
}
/* .buttonRow{
  margin-bottom: 5px !important;
  padding-bottom: 0;
  text-align: center;
} */
/* button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10%;
} */
#mainCard{
  position: absolute;
  height: 55%;
  margin-top: 0px !important;
  border-radius: 10px;
  background: rgb(163, 163, 163);
  border: 1.5px solid #80deea;
  overflow: auto;
}
#modal1{
  color: white !important;
  border: 1.5px solid #80deea;
  background: rgb(163, 163, 163) !important;
  /* border: 1.5px solid #80deea !important; */
}
.collection {
  /* border-radius: 10px !important;
  background: rgb(163, 163, 163) !important; */
}
.collection-item {
  /* border-color: none;
  border-radius: 10px;
  background: rgb(163, 163, 163) !important; */
}
.page-footer {
  background: rgb(163, 163, 163) !important;
  border: 1.5px solid #80deea;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
