body {
  /* align-items: center; */
  height: 100%;
  /* overflow: hidden; */
}
html {
  height:100%;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.title-box {
  margin: 30px;
}
/* .buttonRow{
  margin-bottom: 5px !important;
  padding-bottom: 0;
  text-align: center;
} */
/* button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10%;
} */
#mainCard{
  margin-top: 0px;
  border-radius: 10px;
  background: rgb(163, 163, 163);
  border: 1.5px solid #80deea;
  overflow:auto;
  max-height: fit-content;
}
#modal1{
  /* border-color: none;
  background: rgb(163, 163, 163) !important; */
  /* border: 1.5px solid #80deea !important; */
}
.collection {
  /* border-radius: 10px !important;
  background: rgb(163, 163, 163) !important; */
}
.collection-item{
  /* border-color: none;
  border-radius: 10px;
  background: rgb(163, 163, 163) !important; */
}
.page-footer{
  background: rgb(163, 163, 163) !important;
  border: 1.5px solid #80deea;
}